@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-fuchsia-600 via-pink-500 to-purple-600 bg-clip-text text-transparent;
  }
  
  .gradient-bg {
    @apply bg-gradient-to-r from-fuchsia-600 via-pink-500 to-purple-600;
  }
  
  .gradient-border {
    @apply border-2 border-transparent bg-gradient-to-r from-fuchsia-600 via-pink-500 to-purple-600 bg-clip-border;
  }
}
